html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
  font-family: "Comfortaa", cursive;
  background-color: #ff0043;
  margin-bottom: 60px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: #07374a;
}
p {
  font-family: "Quattrocento", serif;
  color: #f0f0e6;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: #f0f0e6;
}
.back-to-top {
  display: none;
}
.back-to-top.visible {
  display: block;
}
body > .container-fluid {
  padding: 60px 15px 0;
}
.container-fluid .text-muted {
  margin: 20px 0;
}
code {
  font-size: 80%;
}
.cover {
  padding: 16% 0 20% 0;
}
.cover.top {
  height: 100vh;
  display: flex;
  background-color: #ff0043;
}
#about {
  background-color: #07374a;
  clear: both;
}
#portfolio {
  background-color: #ff0043;
}
#contact {
  background-color: #07374a;
}
.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s;
}
.navbar-brand {
  display: none;
  margin-top: 10px;
  color: #f0f0e6;
  font-weight: 500;
}
.navbar-nav > li > a {
  color: #f0f0e6;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  color: #f0f0e6;
  border: 1px solid #f0f0e6;
}
.navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0f0e6;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #f0f0e6;
}
.navbar.solid {
  background-color: #07374a;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px #969696;
}
.navbar.solid .navbar-brand {
  display: inline-block;
  color: #f0f0e6;
  transition: color 1s ease 0s;
}
#scrollIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #034e53;
  border: solid 2px #034e53;
  border-radius: 50%;
}
#scrollTopIcon {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  color: #f0f0e6;
  border: solid 2px #f0f0e6;
  border-radius: 50%;
}
