$font-url--google: "https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento";
$font-family--primary: "Comfortaa", Helvetica, Arial, sans-serif;
$font-family--secondary: "Quattrocento", sans-serif;

$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;

$MountainMeadow: #9bc5c3; //rgba(155, 197, 195, 1);
$DeepSeaGreen: #626262; //rgba(98, 98, 98, 1);
$DesertStorm: #f0f0e6; //rgba(240, 240, 230, 100);

$color-primary: $MountainMeadow;
$color-secondary: $DeepSeaGreen;
$color-light: $DesertStorm;
$color-shadow: rgba($DeepSeaGreen, 0.2);

$color-palettes: (
  darkTeal: (
    xx-light: lighten($DeepSeaGreen, 43%),
    x-light: lighten($DeepSeaGreen, 35%),
    light: lighten($DeepSeaGreen, 12%),
    base: $DeepSeaGreen,
    dark: darken($DeepSeaGreen, 8%),
    x-dark: darken($DeepSeaGreen, 16%),
  ),
);

$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;
$br--default: 5px;
$br--round: 50%;
$trns-duration: 0.3s;
$path--rel: "../img";
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
