@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

@function em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}

@function palette($palette, $shade: "base") {
  @return map-get(map-get($color-palettes, $palette), $shade);
}
