%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%center-align {
  text-align: center;
}

%pseudos {
  display: block;
  content: "";
  position: absolute;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.break {
  clear: both;
  margin-top: 10px;
}

@media (min-width: $break-small) {
  .pull-right-sm {
    float: right !important;
  }
  .pull-left-sm {
    float: left !important;
  }
}
@media (min-width: $break-medium) {
  .pull-right-md {
    float: right !important;
  }
  .pull-left-md {
    float: left !important;
  }
}
@media (min-width: $break-large) {
  .pull-right-lg {
    float: right !important;
  }
  .pull-left-lg {
    float: left !important;
  }
}
